*{
    margin:0;
    padding:0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margine:0;
    font-family: OCR A Std, monospace;
    font-weight: 400;
    color:white;
    line-height:1.6;
}

nav {
    background: black;
    width: 100%;
    height: 8.5vh;
}

nav ul {
    float: right;
    margin-right: 10vh;
}

nav li {
    display: inline-block;
    margin-left: 5vh;
    padding-top: 2.5vh;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1vw;
    font-size:2vh;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    box-shadow: 0 0 100px white;

    position: absolute;
    top: 0;
    width: 0%;
}

nav a:hover:before {
    width: 100%;
    transition: 0.8s;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/*.sticky {*/
/*    position: fixed;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/


/* landing: showcase page */
#showcase {
    background-image:
            linear-gradient(0deg, rgba(255,0,255, 0.7), rgba(255,255,255,0.1)),
            url('../img/landingpage_background3.jpg');
    background-size:cover;
    background-position:top;
    height: 91.5vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#showcase:after {
    content: '';
    display: table;
    clear: both;
}

#showcase h1 {
    font-size:10vw;
    line-height:1.2;
    position: relative;
    bottom: 1vh;
}

#showcase p {
    font-size:1.5vw;
    position: relative;
    bottom: 3vh;
}

#showcase .button {
    font-size:1.5vw;
    text-decoration:none;
    color:white;
    border:white 3px solid;
    padding:10px 50px;
    border-radius:30px;
    margin-top:30px;
    box-shadow: 0 0 15px white;
    position: relative;
    bottom: 2vh;
}

#showcase .button:hover {
    background:white; /* change this to foreground color */
    color:rgb(255,0,255); /* change this to background color */
    transition: 0.8s;
}

/* page 2: learn_more page */
#learn_more {
    background-image:
        linear-gradient(0deg, rgba(255,255,255,0.1), rgba(0,0,255,0.7));
    background-size:cover;
    background-position: top;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#learn_more h1 {
    font-size:5vw;
    line-height:1.2;
    position: relative;
    bottom: 6vh;
}

#learn_more p {
    font-size: 1.5vw;
    position: relative;
    bottom: 4vh;
}

#learn_more .button {
    font-size:1.5vw;
    text-decoration:none;
    color:rgb(255,0,255);
    border:rgb(255,0,255) 2px solid;
    padding:10px 50px;
    border-radius:30px;
    margin-top:30px;
    box-shadow: 0 0 15px rgba(255,0,255, 1);
    /*background-color: rgba(255,255,255, 0.6);*/

    position: relative;
    bottom: 0vh;
}

#learn_more .button:hover {
    background:rgb(255,0,255); /* change this to foreground color */
    color:white; /* change this to background color */
    transition: 0.8s;
}

/* page 3: sign_in page */
.wrapper {
    background-image:
        linear-gradient(0deg, rgba(255,255,255, 0.5), rgba(255,255,255,0.5)),
        url('../img/background4.jpg');
    background-position: top;
    position: relative;
    overflow: hidden;
}
.left,
.right {
    width: 55vw;
    height: 100vh;
    top: 0;
    transform: skewX(-10deg);
    overflow: hidden;
}
.left {
    position: relative;
    left: -5%;
    overflow: hidden;
}
.right {
    position: absolute;
    right: -6.2%;
    overflow: hidden;
}
.left .inner,
.right .inner {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewX(10deg);
    overflow: hidden;
}
.left .inner {
    background: linear-gradient(0deg, rgba(0,0,0,0.0), rgba(255,0,255, 0.4));
    margin-left: 9%;
    overflow: hidden;
}
.right .inner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 255, 0.5));
    margin-left: -9%;
    overflow: hidden;
}

#sign_ons .param {
    font-size:1.5vw;
    text-decoration:none;
    color:black;
    border:white 2px solid;
    padding:15px 30px;
    border-radius:10px;
    margin-top:30px;
    /*box-shadow: 0 0 15px white;*/
    position: relative;
    bottom: 2vh;
}

#sign_ons .param:hover {
    box-shadow: 0 0 15px rgb(255,0,255);
    transition: 0.8s;
}

#sign_ons .button {
    font-size:1.5vw;
    text-decoration:none;
    color:white;
    border:rgb(200,0,255) 2px solid;
    padding:10px 20px;
    border-radius:3px;
    margin-top:10vh;
    /*box-shadow: 0 0 15px rgba(255,0,255, 1);*/
    background-color: rgba(255,0,255, 0.4);
}

#sign_ons .button:hover {
    background-color: rgba(255,0,255, 0.9);
    border: rgb(255,0,255) 2px solid;
    box-shadow: 0 0 15px rgb(255,0,255);
    transition: 0.8s;
}

/* page 4: history page */
#history {
    background-image:
            linear-gradient(0deg, rgba(0,0,200,0.4), rgba(0,0,0,0.3)), /* ghetto tint */
            url('../img/landingpage_background5.jpg');
    background-size:cover;
    background-position: top;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    font-size:2vw;
    position: center;
    text-align:center;
}

#history .tint {
    background-color: rgba(0,0,0,0.4);
    width: 80%;
    height: 100%;
}

.ocean {
    height: 1%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
    opacity: 0.5;
    align-items:center;
}

.wave {
    background:
            url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.75;
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.6s infinite, swell 7s ease -3s infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.6s infinite, swell 3s ease -5s infinite;
    opacity: 0.25;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}